@model List<UserInfo>
    @{
    ViewData["Title"] = "Toplantı katılımcıları";
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Katılım durumu</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-striped">
            @{int totalAttendees = 0;}
            @foreach(var user in Model){
            var willAttend = user.WillAttend;
            var state = willAttend ? "Evet" : "Hayır";
            var rowClass = willAttend ? "table-success" : "table-danger";
            var btnClass = willAttend ? "btn-success" : "btn-danger";
            if(willAttend){
            totalAttendees++;
            }
            <tr class="@rowClass">
                <td>@user.Name</td>
                <td>@state</td>
                <td>
                    <a asp-controller="Meeting" asp-action="Detail" class="btn @btnClass"
                        asp-route-id="@user.Id">Detay</a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Toplam katılımcı sayısı: @totalAttendees</td>
            </tr>
        </tfoot>
    </table>